// ===========================//
//          Variables        //   
// =========================//

// font stack
$primary-font: 'lato', 'sans=serif';

// layout
$max: 100%;

// font weights
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

// colors
$white: #fff;
$gray: #777;
$primary: #58e1c1;

$cyan: #51ddfc;
$salmon: #e4757a;
$purple: #927bc1;
$green: #63cc82;
$orange: #fd7856;

// media queries
$breakpoint: 768px;